.profCont{
  /* max-width: 60%; */
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  /* margin-left: 20%; */
  /* margin-top: 5%; */
  box-shadow: -10px 10px 30px 1px rgba(0, 0, 0, 0.75);
  border-radius: 20px 20px 20px 20px;
  font-family: "Cabin";
  background: rgba(255,255,255,.8);
}

.profileImg{
  width: 250px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.profName{
  font-size: 26px;
  color: black;
  font-weight: 500;
  margin-bottom: 2%;
}

.profCity{
  color: black;
  font-size: 18px;
  margin-bottom: 2%;
}

.profPost{
  color: black;
  font-size: 18px;
  margin-bottom: 2%;
}

.editBtn {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10%;
  background-color: lavenderblush;
  color: black;
  font-size: 16px;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.editBtn:hover {
  animation: bounce 1s;
}